{% extends 'base.html'%}
{% block content %}
    <!-- add task icon  -->
    <div class="row">
        <div class="col-md-12">
            <i>Welcome back User</i>
        </div>
    <!-- list items -->
    <div class="col-md-5 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading mt-5">
                <h3 class="panel-title mb-3">Todo List</h3>
            </div>
            <span class="panel-body">
                <ul class="list-group">
                    {% for todo in todos %}
                    <li class="list-group-item">
                        {% if todo.completed %}
                        <span><svg class="checkmark"
                                viewBox="0 0 52 52">
                                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                            </svg>
                        </span>
                        {% else %}
                        <span><svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 52 52">
                            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                        </svg>
                    </span>
                        {% endif %}
                        {{todo.title}}
                        <!--adding an edit icon  -->
                        <a href="" class="text-primary">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <!-- adding a delete icon at the end -->
                        <span class="float-right">
                            <a href="{% url 'update-task' pk=todo.id %}" class="text-primary"> <i
                                    class="fa fa-pencil"></i></a>
                            <a href="{% url 'delete-task' pk=todo.id %}" class="text-danger ml-3"> <i
                                    class="fa fa-trash"></i></a>
                        </span>
                    </li>
                    {% endfor %}
                    <div class="col-md-12">
                        <a href="{% url 'create-task' %}">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </a>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
<style>
    *{
        text-align: center;
        justify-content: center;
    }
    .fa-plus-circle{
        font-size: 2em;
    }
.list-group-item {
    margin-top: 10px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.list-group-item ::hover {
    background-color: #1a173b80;
    
}
.panel-body{
    padding: 0px;
    background-color: #1a173b80;

}
.list-group{
    padding: -30px;
}

    .checkmark__circle {
        stroke-dasharray: 166;
        stroke-dashoffset: 166;
        stroke-width: 2;
        stroke-miterlimit: 10;
        stroke: #7ac142;
        fill: none;
        animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
    }

    .checkmark {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        float: left;
        stroke-width: 2;
        stroke: #fff;
        stroke-miterlimit: 10;
        box-shadow: inset 0px 0px 0px #7ac142;
        animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
    }

    .checkmark__check {
        transform-origin: 50% 50%;
        stroke-dasharray: 48;
        stroke-dashoffset: 48;
        animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
    }

    @keyframes stroke {
        100% {
            stroke-dashoffset: 0
        }
    }

    @keyframes scale {

        0%,
        100% {
            transform: none
        }

        50% {
            transform: scale3d(1.1, 1.1, 1)
        }
    }
    @keyframes fill {
        100% {
            box-shadow: inset 0px 0px 0px 30px #7ac142
        }
    }
</style>
{%endblock%}