{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-md-12 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Reset Password Done</h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-info">Check your Email for instructions on how to reset our Password 🔐</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}